* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

li {
    list-style-type: none;
}

h1,h2,li,img,p,i {
    /*cursor: pointer;*/
}

body {
    min-width: 800px;
}

.page {
    position: relative;
    height: 100vh;
}

.page .item {
    height: 100%;
}

.page .logo {
    /*position: absolute;*/
    position: fixed;
    width: 50px;
    background-color: #1d2531;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
}

.page .item section {
    height:100vh;
    position:relative;
}

.page .logo div {
    position:absolute;
    bottom:10px;
    left:10px;
}

.page .logo img{
    width: 5vh;
    height: 5vh;
    padding-top: 2vh;
}

.page .logo div i {
    color:#475364;
    font-size:12px;
}

.page .logo div i[class="fa fa-th-large"] {
   padding-right:5px;
}

.page .nav {
    /*position: absolute;*/
    position: fixed;
    width: 200px;
    background-color: #222c3c;
    top: 0;
    left: 50px;
}

.page .content {
    margin-left: 270px;
}

.page .content section {
    height: 100vh;
}

.page .content .top {
    height: 10vh;
    box-sizing: border-box;
    border-bottom:1px solid #e6e9ec;
}

.page .content .suit {
    position: relative;
}

.page .content .suit-left {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 300px;
}

.page .content .scroll {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.page .content .suit-right {
    padding-left: 300px;
}

.page .nav {
    padding: 0 10px;
}

.page .nav section {
    position:relative;
}

.page .nav ul li {
    color:#8f99a6;
    padding:3px 0;
}

.page .nav article {
    padding: 2vh 0;
    border-bottom: 1px solid #2a3547;
}

.page .nav h2 {
    color: #475364;
    text-transform: uppercase;
    padding-bottom:10px;
}

.page .nav .menu-title i{
    padding-left: 130px;
}

.page .nav  .menu-sales {
    margin-left: 130px;
}

.page .circle {
    padding: 2px 6px;
    background-color: #269bf2;
    border-radius: 50%;
    color: #ffffff;
}

.page .nav .dash-message {
    margin-left: 100px;
}

.page .nav .dash-integrations {
    margin-left: 90px;
    padding: 2px 9px;
    background-color: #e64528;
    border-radius: 50%;
    color: #ffffff;
}

.page .nav .product li i {
    padding-right: 10px;
}

.page .nav .product-title i{
    padding-left: 60px;
}

.page .nav .dashboard-title i{
    padding-left: 85px;
}

.page .goal {
    position: absolute;
    bottom: 20px;
    color: #ffffff;
}

.page .goal p {
    padding-bottom: 5px;
}

.page .goal p span {
    padding-left: 30px;
}

.page .goal .goal-bar{
    height: 5px;
    border-radius: 20%;
    border: solid 1px #2d3848;
    background-color: #2d3848;
}

.page .goal .goal-bar div {
    width: 50px;
    height: 5px;
    border-radius: 20%;
    border: solid 1px #917ae4;
    background-color: #917ae4;
}

.page .content .top section {
    position: relative;
    height: 10vh;
}

.page .content .top h1 {
    font-size: 20px;
    padding: 15px;
    font-weight: normal;
}

.page .content .top img {
    position: absolute;
    right: 150px;
    top: 2px;
}

.page .content .top .user {
    position: absolute;
    right: 60px;
    top: 10px;
}

.page .content .top .user-logo {
    position: absolute;
    right: 20px;
    top: 25px;
}

.page .content .top .user-logo i {
    color: #b5b5b5;
}

.page .content .top .user-name {
    color: #2399f1;
    font-weight: bold;
    padding-bottom: 5px;
}

.page .content .top .user-ad {
    color: #b5b5b5;
}

.page .suit .search {
    padding: 10px 0;
}

.page .suit-left .border-wrap {
    border: 1px solid #e6e9ec;
    border-left: none;
    border-top: none;
}

.page .suit-left .top1 {
    border-left: 3px solid #00aaff;
}

.page .suit .search div {
    width: 240px;
    margin: 0 auto;
    border: 1px solid #b5b5b5;
}

.page .suit .search i {
    color: #9fa9ba;
}

.page .suit .search input {
    width: 220px;
    border: none;
    outline: none;
    padding: 5px 0;
    text-indent: 5px;
}

.page .suit .suit-left article {
    padding: 10px 30px 10px 15px;
    position: relative;

}

.page .suit article .left-contents {
    color: #909399;
}

.page .suit article .user-message {
    margin: 0 0 10px 50px;
}

.page .suit article .user-message .left-name {
   font-weight: bold;
   color: #585d68;
}

.page .suit article .user-message .left-ways {
    color: #b5b5b5;
}

.page .suit .suit-left article img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 8px;
    left: 10px;
}

.page .suit article .time {
    color: #8896aa;
    position: absolute;
    top: 12px;
    left: 270px;
}

.page .suit article .yesterday {
    left: 230px;
}

.page .suit article .june {
    left: 250px;
}

.page .suit article .number {
    position: absolute;
    top: 60px;
    left: 270px;
}

.page .suit .suit-left article .user-message .selected {
    color: #00aaff;
}

.page .suit .suit-left article .user-message .selected i[class="fa fa-circle"] {
    margin-right: 6px;
}

.page .suit-right .right-title {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #e6e9ec;
}

.page .suit-right .right-title .author {
    margin: 5px 0 5px 10px;
    color: #585d68;
}

.page .suit-right .right-title .author i {
    color: #1bb934;
    padding-left: 10px;
}


.page .suit-right .right-title .setting {
    position: absolute;
    right: 110px;
    top: 10px;
}

.page .suit-right .right-title .setting i {
    float: left;
}

.page .suit-right .right-title .icon i {
    color: #9fa9ba;
    padding: 5px;
    background-color: #fbfcfd;
    border: 1px solid #ced0da;
    border-left: none;
}

.page .suit-right .right-title  i[class="fa fa-user-plus"] {
    border-left: 1px solid #ced0da;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page .suit-right .right-title  i[class="fa fa-trash"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page .suit-right .right-title .direction{
    clear: both;
    position: absolute;
    top: 10px;
    right: 20px;
}

.page .suit-right .right-title .direction i {
    float: right;
}

.page .suit-right .right-title .direction i[class="fa fa-caret-left"] {
    border-left: 1px solid #e6e9ec;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page .suit-right .right-title .direction i[class="fa fa-caret-right"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page .suit-right .right-title .direction span {
    font-weight: bold;
    line-height: 22px;
    color: #617292;
    padding-right: 5px;
}

.page .suit .suit-right .right-content .content-relative{
    padding: 10px 20px 10px 70px;
    position: relative;
}

.suit .suit-right .right-content .portrait {
    position: absolute;
    top: 20px;
    left: 10px;
}

.suit .suit-right .right-content h3 {
    padding-bottom: 5px;
    color: #585d68;
}

.suit .suit-right .right-content h3 span {
    color: #a1adbc;
    padding-left: 10px;
}

.suit .suit-right .right-content p {
    color: #a7a9ae;
}

.img-flex {
    display: flex;
}

.suit .suit-right .right-content .content-relative .img-wrap {
    position: relative;
    margin: 10px 10px 10px 0;
    height: 100px;
    width: 156px;
    background-size: cover;
}

.img-wrap .img-bg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 93, 104, 0.3);
}

.img-wrap .search-logo {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.img-wrap .search-logo .fa-search-plus {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 50%;
    color: #ffffff;
    font-size: 22px;
    /*margin-top: -25px;
    margin-left: -25px;*/
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

/*.suit .suit-right .right-content .content-relative .img-wrap:nth-child(1n) {
    background: url(images/photo1.png);
}

.suit .suit-right .right-content .content-relative .img-wrap:nth-child(2n) {
    background: url(images/photo2.png);
}*/

.suit .suit-right .right-content .content-relative .img-wrap:hover > .img-bg {
    display: block;
}

.suit .suit-right .right-content .content-relative .img-wrap:hover > .search-logo {
    display: block;
}

.suit .suit-right .right-content .time-cut {
    border-top: 1px solid #d9dde3;
    margin-top: 20px;
}

.suit .suit-right .right-content .time-wrap {
    position: relative;
}

.suit .suit-right .right-content .time-wrap .null {
    height: 10px;
}

.suit .suit-right .right-content .time-remind {
    padding: 0 20px;
    background-color: #ffffff;
    position: absolute;
    left: 40%;
    top: 22px;
    color: #a1adbc;
}

.suit .suit-right .right-content .time-wrap .other-remind {
    color: #7bc2f7;
}

.suit .suit-right .right-content .other-cut {
    border-top: 1px solid #7bc2f7;
}

.suit .suit-right .right-content .add {
    margin-top: 15px;
    position: relative;
    height: 40px;
    line-height: 40px;
}

.suit .suit-right .right-content .add img {
    position: absolute;
    top: 1px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.suit .suit-right .right-content .add div {
    display: inline-block;
    margin-left: 20px;
    padding: 0 50px;
    color: #c7c8cb;
    border: 1px solid #dfe3e9;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
}

